{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="shortcut icon" href="img/wanjarwar.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/IPARKING.ico" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script>

        function validarFormulario()
        {
            var txtNombreC = document.getElementById('nom').value;
            var txtCorreo = document.getElementById('correo').value;
            var txtPass = document.getElementById('pass').value;

            if(txtNombreC == null || txtNombreC.length == 0 || /^\s+$/.test(txtNombreC))
            {
			alert('ERROR: Ingrese Nombre Completo ');
			document.datos.nom.focus();
			return false;
		    }

            if(!(/\S+@\S+\.\S+/.test(txtCorreo))){
			alert('ERROR: Debe escribir un correo válido');
			document.datos.correo.value="";
			document.datos.correo.focus();
			return false;
		}
            if(txtPass == null || txtPass.length == 0 || /^\s+$/.test(txtPass))
            {
			alert('ERROR: Ingrese Contraseña ');
			document.datos.pass.focus();
			return false;
		    }

            return true;





        }
    </script>


</head>
<body>
    <form class="formulario" action="construccion.html" onsubmit="return validarFormulario()">

        <h1>Registrate</h1>
        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" id="nom" placeholder="Nombre Completo">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" id="correo" placeholder="Correo Electronico">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" id="pass" placeholder="Contraseña">

            </div>
            <input type="submit" value="Registrate" class="button">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <p>¿Ya tienes una cuenta?<a class="link" href="{% url 'log' %}"> Iniciar Sesion</a></p>
            <p><a class="link" href="{% url 'home' %}">Volver inicio</a></p>
        </div>
    </form>
</body>
</html>